@charset "UTF-8";


@font-face {
   font-family:NanumGothic;
   src: url(/resources/font/NanumGothic.ttf);
}
pre {
   font-family:NanumGothic;
}
.body{
   margin-left: 20%;
   margin-top: 8%;
   width: 68%;
   !important
}
img#menu {
   margin-top: 10px;
}
table {
   border-spacing:0px;
   border: none;
   border-collapse: collapse;
}
table tr td{
   font-family:NanumGothic;
   border-spacing: 0px;
   vertical-align: top;
   text-align: center;
}
td#left {
   text-align: left;
   vertical-align: middle;
   border-spacing: 0px;
   padding:10px;
}
td#right {
   text-align: right;
   vertical-align: middle;
   border-spacing: 0px;
   padding:10px;
}
table ul#left {
   margin: 0;
   padding: 0;
   list-style: none;
   position:relative;
}
table ul li:hover > ul {
	display:block;
}
table ul ul {
	display: none;
	position:absolute;
	left:40px;
	top:18px;
	list-style:none;
	text-align:left;
	
}
table ul li a#sub {
	display:block;
	width:80px;
	height:20px;
	line-height:20px;
	font-size: 0.9rem;
  	font-weight: 500;
  	color: #CCCCCC;
  	text-decoration: none;
  	text-transform: uppercase;
}

table ul li#top {
   float:left;
}

img {
   border: 0;
}
input {
   border-left-width: 0;
   border-right-width: 0;
   border-top-width: 0;
   border-bottom: #AAAAAA 1px solid;
}
input#image {
	border:none; !important
}

div#content {
   margin: 50px;
}

table#bidding {
   margin-left:auto;
   margin-right:auto;
}
table tr td#bidding{
   padding-left:20px;
   padding-right:20px;
   text-align:left;
   vertical-align:middle;
}

.hover18{
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.hover18:after{
  content: '' attr(data-hover-label) '';
  width: 0;
  overflow: hidden;
  transition: width .2s ease-out;  

  position: absolute;
  left: 0;
  top: 0;
}

.hover18:hover:after, .hover18:focus:after{
  width: 100%  
}

.hover18:focus {
   outline : none;
}
.hover18:after{
  color: #575555;
}


body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

a{
  text-decoration: none;
}
.menu{
  list-style: none;
  padding: 0;
  margin-top: 30px;  
}

.menu__item{
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
}

.menu__link{
  font-size: 0.9rem;
  font-weight: 500;
  color: #CCCCCC;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 1201px){

  .main-container{
    display: flex;
    flex-wrap: wrap;
  }


}

@media screen and (max-width: 300px){

  .menu{
    flex-direction: column;
  }
}
  
  
  
  
  
  
  
.hover5{
  display: inline-block;
  position: relative;
}

.hover5:before{
  content: '' attr(data-hover-label) '';
  position: absolute;
  top: 0;
  transform: rotateX(90deg);
  transition: transform .1s linear;
}

.hover5:hover:before, .hover5:focus:before{
  transition-delay: .2s;
  transform: rotateX(0deg);
}

.hover5:hover .hover5__label, .hover5:focus .hover5__label{
  transform: rotateX(90deg);  
  transition-delay: 0s
}

.hover5__label{
  display: inline-block;
  transform: rotateX(0);
  transition: transform .1s linear .2s;
}

.hover5:focus{
  outline: none;
}

.hover5:before, .hover5:before{
  color: #ffcc39;
}




.section2{
  box-sizing: border-box;
  position: relative;
  padding: 4rem 2rem 4rem;
  text-align: center;
  margin-left: 4rem;
}

/*
* menu
*/

.menu2{
  list-style: none;
  padding: 0;
  margin: 0;  
}

.menu__item2{
  display: inline-block;
  margin-top: 30%;
  margin-bottom: 30%;
}

.menu__link2{
  font-size: 1.8rem;
  font-weight: 700;
  color: #777777;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 1201px){

  .main-container2{
    display: flex;
    flex-wrap: wrap;
  }

  .section2{
    width: 33.33333%;
  }
}

@media screen and (max-width: 300px){

  .menu2{
    flex-direction: column;
  }
}


/* button*/

/* GENERAL BUTTON STYLING */
button,
button::after {
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
    transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid #ffcc39;
  
  color: #ffcc39;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 2em;
  position: relative;
  text-transform: uppercase;
}

button#basic {
  background: none;
  border: 3px solid #ffcc39;
  border-radius: 5px;
  color: #ffcc39;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 2em;
  position: relative;
  text-transform: uppercase;
}


button::before,
button::after {
  background: #ffcc39;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #fff;
}

.btn-5 {
  overflow: hidden;
}

.btn-5::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -85%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-5:hover:after {
  height: 100%;
  width: 185%;
}

button#btn_01 {
   background: none;
  display: block;
  font-size: 1em;
  margin: 1em auto;
  position: relative;
  text-transform: uppercase;
   border: 4px solid #dddddd;
   border-radius:10px 0 10px 0; 
   height: 6%;
   color: #aaaaaa;
   font-weight: normal;
   padding:0 3.5em;
}

button#btn_01:hover {
    background-color: #dddddd;
}



button#btn_02 {
  display: inline-block;
  text-transform: uppercase;
   background:#ffcc39;
     color:white;
     border:none;
     position:relative;
     height:60px;
     font-size:1.6em;
     padding:0 2em;
     cursor:pointer;
     transition:800ms ease all;
     outline:none;
}
button#btn_02:hover {
   background:#fff;
     color:#ffcc39;
}
button#btn_02:before,button#btn_02:after {
   content:'';
     position:absolute;
    top:0;
     right:0;
     height:2px;
     width:0;
    background: #ffcc39;
    transition:400ms ease all;
}
button#btn_02:after {
   right:inherit;
     top:inherit;
     left:0;
     bottom:0;
     
}
button#btn_02:hover:before,button#btn_02:hover:after {
   width:100%;
    transition:800ms ease all;
    
} 

.submit_btn {
    color: #000000;
    background-color: #ffffff;
    border: #000000 solid 1px;
    padding: 10px;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
}

.submit_btn:hover {
    color: #ffffff;
    background-color: #000000;
    animation: b09_electric_blinkIn 0.1s step-end 0 2;
    -webkit-animation: b09_electric_blinkIn 0.1s step-end 0 2;
    -moz-animation: b09_electric_blinkIn 0.1s step-end 0 2;
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
}

#sidebox { 
	background-color:#F0F0F0; 
	position:absolute; 
	width:120px; 
	top:433px; 
	right:420px; 
}




.css-arrow {
    display: inline-block;
    position: relative;
    margin: 0 0 0 8px;
    padding: 0;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #000;
}
.css-arrow:before, .css-arrow:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
}
.css-arrow:before {
    left: -30px;
    margin-top: -10px;
    border: 10px solid transparent;
    border-right-color: #000;
}
.css-arrow:after {
    left: -20px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-left-color: #eee;
}

.chat-room {
	height: 80%;
}

.chat {
	list-style: none;
	margin: 0;
	padding: 0;
}

.chat .chat-img img {
	width: 48px;
	height: 48px;
}
.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
	margin-left: 60px;
}

.chat li.right .chat-body {
	margin-right: 60px;
}

.chat li .chat-body p {
	margin: 0;
	color: #777777;
}

.current-users {
	list-style: none;
	margin: 0;
	padding: 0;
}

.current-users li {
	margin-bottom: 5px;
	padding-bottom: 3px;
	border-bottom: 1px dotted #B3A9A9;
}

.current-users li.left .user-body {
	margin-left: 30px;
}

.current-users li.left .user-img img {
	width: 25px;
	height: 25px;
}

.current-users li.left .user-body .header {
	font-size: 15px;
}
/* 
.current-users li.right .user-body {
	margin-right: 60px;
}
 */
.panel .slidedown .glyphicon,.chat .glyphicon {
	margin-right: 5px;
}

.panel-body {
	overflow-y: scroll;
	height: 65%;
	max-height: 700px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}

