<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.ItemMapper">
  <cache />

  <select id="getItemListByProduct" resultType="Item">
    SELECT
      I.ITEMID,
      I.NAME,
      I.PRODUCTID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "product.productId",
      P.NAME AS "product.name",
      DESCN AS "product.description",
      CATEGORY AS "product.categoryId",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5
    FROM ITEM I, PRODUCT P
    WHERE P.PRODUCTID = I.PRODUCTID
      AND I.PRODUCTID = #{value}
  </select>

  <select id="getItem" resultType="Item">
    SELECT
      I.ITEMID,
      I.NAME,
      I.PRODUCTID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "product.productId",
      P.NAME AS "product.name",
      DESCN AS "product.description",
      CATEGORY AS "product.categoryId",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5,
      QTY AS quantity
    FROM ITEM I, INVENTORY V, PRODUCT P
    WHERE P.PRODUCTID = I.PRODUCTID
      AND I.ITEMID = V.ITEMID
      AND I.ITEMID = #{value}
  </select>

  <select id="getInventoryQuantity" resultType="int">
    SELECT QTY AS value
    FROM INVENTORY
    WHERE ITEMID = #{itemId}
  </select>

  <update id="updateInventoryQuantity">
    UPDATE INVENTORY 
    SET 
    	<if test="increment != null">
    		QTY = QTY - #{increment}
    	</if>
    	<if test="quantity != null">
    		QTY = #{quantity}
    	</if>
    	
    WHERE ITEMID = #{itemId}
  </update>
  
  
  <select id="getSearchItems" resultType="Item">
SELECT
      I.ITEMID,
      I.NAME,
      I.LISTPRICE,
      P.DESCN AS "product.description"
   	 FROM ITEM I, PRODUCT P
     WHERE P.PRODUCTID = I.PRODUCTID
     AND lower(I.NAME) like '%'||#{keyword}||'%'
  </select>
  
    <select id="getWeeklyBestItems" resultType="Item">
      select 
         ITEM.ITEMID,
         ITEM.NAME,
         ITEM.PRODUCTID,
         LISTPRICE,
         UNITCOST,
         SUPPLIER AS supplierId,
         ITEM.PRODUCTID AS "product.productId",
         P.NAME AS "product.name",
            DESCN AS "product.description",
         STATUS,
         ATTR1 AS attribute1,
         ATTR2 AS attribute2,
         ATTR3 AS attribute3,
         ATTR4 AS attribute4,
         ATTR5 AS attribute5
      from(select * 
            from (
            select l.itemId
            from 
               lineItem l, orders o, SYS.dual
            where 
               l.orderId=o.orderId
            and
                <![CDATA[
               to_date(SYSDATE, 'YYYY-MM-DD') - to_date(o.orderdate, 'YYYY-MM-DD') <= 7
               ]]>
            group by l.itemId
            order By count(l.itemId) desc
         )   <![CDATA[ where ROWNUM <= 12 ]]>
      )i, ITEM, PRODUCT P
      where 
         ITEM.itemId = i.itemId
      and
         ITEM.PRODUCTID = P.PRODUCTID
   </select>
  
  
  <select id="getItemListByCategory" resultType="Item">
  SELECT
      I.ITEMID,
      I.NAME,
      I.LISTPRICE,
      P.DESCN AS "product.description",
      P.CATEGORY
   	 FROM ITEM I, PRODUCT P
     WHERE P.CATEGORY = #{categoryId}
     AND I.PRODUCTID = P.PRODUCTID
</select>

<insert id="insertItem"> 
INSERT INTO ITEM 
	(ITEMID, PRODUCTID, LISTPRICE, SUPPLIER, ATTR2, NAME) 
VALUES
	( #{itemId},#{productId},#{listPrice},#{supplierId},#{attribute2},#{name}) 
</insert>
<insert id="insertInventory"> 
INSERT INTO INVENTORY 
	(ITEMID, QTY) 
VALUES
	( #{itemId}, #{quantity}) 
</insert>
<update id="updateItem"> 
UPDATE 
	ITEM 
SET 
	LISTPRICE = #{listPrice},
	ATTR2 = #{attribute2},
	NAME = #{name}
WHERE ITEMID = #{itemId} 
</update>

  <delete id="deleteItem">
  DELETE FROM ITEM
  WHERE ITEMID = #{itemId}
  </delete>
  
 <delete id="deleteInventory">
 DELETE FROM INVENTORY
  WHERE ITEMID = #{itemId}
  </delete>
</mapper>