<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.SupplierMapper">

<update id="registerSupplier">
	UPDATE ACCOUNT
	SET 
		ACCOUNT = #{account},
		SUPPLIER = 1
	WHERE USERID = #{username}
</update>

<!-- <update id="updateSupplier">
	UPDATE ACCOUNT
	SET 
		ACCOUNT = #{account}
	WHERE USERID = #{userName}
</update> -->
</mapper>